.about {
  text-align: center;
  width: 1200px;
  margin: 20px auto;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 200px;
}
.about h1 {
  font-size: 50px;
}
.about p {
  font-size: 20px;
  line-height: 2;
}
