.footer {
    background-color: #40BA21;
    padding: 20px 0;
    margin-top: auto;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 70px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-bottom: 0;
    color: #fff;
}

.footer p {
    color: #fff;
}

.footer nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #fff;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

.footer nav li {
    margin-right: 70px;
    
}
.footer nav li:last-child {
    margin-right: 0; /* Remove the margin from the last item */
  }

.footer nav a {
    text-decoration: none;
    color: #fff;

    font-size: 18px;
}

.social-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.social-icons a {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.social-icons svg {
    width: 24px;
    height: 24px;
}