.header-cover {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.main-bar {
  display: flex;
  justify-content: space-between;
  background-color: #fff
}

.start-section {
  display: flex;
  align-items: center;
}
.start-section img{
  margin-right: 40px;
}
.end-section {
  display: flex;
  align-items: center;
}

.Logoname {
  width: 170px;
}

.header {
  color: #fff;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 25px;
  background-color: #40BA21;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #fff;
}

.submit-search {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
}

button.submit-search:hover {
  opacity: 1;
}

button.submit-search:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}

.sign-in-button {
  /* background-color: #4CAF50; Green */
  margin-left: 7px;
  background: #003459;
  border: none;
  color: white;
  padding: 9px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
}
.cart-icon {
  margin-left: 6px;
  padding: auto;
  display: flex;
  /* width: 40px;
  height: 40px; */
  margin-right: 5px;
  border-radius: 50%; /* To create a circular shape if the cart icon is a square image */
}