#button-btn {
  background-color: #40ba21;
  border: none;
  padding: 9px 20px;
  border-radius: 26px;
  color: white;
}
.bottom-of-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.view-item {
  display: flex;
  justify-content: space-between;
}
