.item-card {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.quantity-section {
    /* display: flex; */
    margin-top: 25px;
    font-size: 20px;
    font-family: "Abel", sans-serif;
    font-weight: normal;
}

.quantity-btn {
    margin: 0 5px;
    background-color: #fff;
    border: none;
    color: black;
}

.price-section {
    margin-top: 10px;
}

.price-section span {
    display: block;
    margin-bottom: 5px;
}
.item-details-section {
    display: flex;
}