.storepage-aligner {
    padding-left: 5%;
    padding-right: 5%;
}

.hero-banner-logo {
    height: auto;
    width: 100%;
}

.hero-banner-container {
    text-align: center;
}


.product-container {
    margin: 2%;
    margin-left: 5%;
    margin-right: 5%;
}
