.user-profile {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 20px;
  background-color: white;
}
.right-panel h2 {
  color: #fff;
}
.left-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 0;
  background-color: #fff;
}
.scrollable-content {
  /* max-height: 300px;  */
  background-color: #fff;
  overflow: auto;
}
.scrollable-content1 {
  height: 460px;
  padding-left: 50px;
  overflow: auto;
}

.right-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  border: 8px solid #40ba21;
  border-radius: 20px;
  box-shadow: 2px 5px 10px #003459;
}
.profile-picture {
  border-radius: 100%;
}
.profile-picture img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  box-shadow: 0px 1px 15px #003459;
  margin-bottom: 30px;
  border-radius: 100%;
}

.panel {
  align-items: left;

  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  width: 80%;
  margin-top: 30px;
}

.panel.user-info {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 745px; */
}

.panel h2 {
  font-size: 30px;
  margin-bottom: 15px;
  font-family: "Abel", sans-serif;
  font-weight: 600;
}

.panel p {
  font-size: 24px;
  margin-bottom: 30px;
  color: #003459;
  font-family: "Abel", sans-serif;
  font-weight: normal;
}

.edit-profile-button {
  background-color: #40ba21;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 24px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.order-history ul,
.whats-new ul {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.order-history li,
.whats-new li {
  font-size: 24px;
  margin-bottom: 35px;
  color: #666;
}

.whats-new {
  text-align: center;
}

.explore-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 24px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-button:hover {
  background-color: #0056b3;
}
